/* BoutiqueCard.css */
.about_section {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f7f6;
 
}

.about_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-wrap: wrap;
}

.about_image {
  width: 40%;
  object-fit: cover;
  min-width: 300px;
}

.about_content {
  padding: 2rem;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_title {
  margin: 0 0 1rem 0;
  color: #2c3e50;
}

.about_description {
  font-size: 1.2rem;
  color: #34495e;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.about_button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #E70089;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: start;
  transition: background-color 0.3s ease;
}

@media(max-width: 768px) {
    .about_section{
        padding: 0.2rem;
    }
  .about_card {
    flex-direction: row;
  }
  .about_image {
     padding: 0.2rem;
    width: 100%;
  }
  .about_content {
    flex: unset;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
.about_description {
    font-size: 1rem;
  }
}
